.user_profile{
    margin-top: 30%;
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.user_profile img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.profile_list{
    width: 45%;
    height: 45%;
    margin: auto;
    overflow: hidden;
}

.profile_list img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.upload_file_update{
    height: 95%;
    width: 95%;
    overflow: hidden;
}

.upload_file_update img{
    height: 90%;
    width: 85%;  
}


.profile_show img{
    height: 95%;
    width: 90%;
}

/* configuracion de vista para imagenes de publicaciones*/
.p_img_container{
    width: 95%;
    min-height: 370px;
    overflow: hidden;
}

.p_img_container img{
    overflow: hidden;
    height: 370px;
    width: 90%;
    margin: auto 5%;
}

.profile_publication{
    height: 4rem;
    width: 3rem; 
}

.profile_publication img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.card-publication{
    margin: 0 10%;
    max-height: 450px;
    max-width: 85%;
    overflow-x: scroll; 
    overflow-y: scroll;
}

/*Seccion para estilos de la funcionalidad resource*/

.card-resource{
    height: 400px;
}
.resource-image{
    overflow: hidden;
    width: 95%;
    height: 400px;
}

.resource-image img{
    height: 100%;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, crimson, black); /* Para navegadores WebKit */
    mask-image: linear-gradient(to bottom, crimson, black); /* Para otros navegadores */
}